# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Prisma: ignore migrations and SQLite DB file
/prisma/migrations/
/prisma/bookshelf.db*

# Public uploads:
# Ignore everything inside /public/uploads/
public/uploads/*
# Re-include the user folder itself
!public/uploads/user
# Ignore all files inside /public/uploads/user/
public/uploads/user/*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
